<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Widget City-Guide </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <div class="tech">
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
    </div>
    <p>Project Realized in VueJs during my first internship in the Agence Webcom.</p>
    <a class="project-link" href="https://www.hotelduchampdemars.com/city-guide" target="_blank">Check it out</a>
    <a class="project-link" href="https://github.com/gueguesix/widget-cityGuide" target="_blank">code available here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
