<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/city-guide.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Widget City-Guide </h3>
    <ul>
      <li>VueJS</li>
      <li>NodesJS</li>
      <li>HTML & CSS</li>
    </ul>
    <p>Project Realized in VueJs during my first internship in the Agence Webcom.</p>
    <a class="project-link" href="https://www.hotelduchampdemars.com/city-guide" target="_blank">Check it out</a>
    <a class="project-link" href="https://github.com/gueguesix/widget-cityGuide" target="_blank">code available here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Widget AMP </h3>
    <ul>
      <li>NuxtJS</li>
      <li>NodesJS</li>
      <li>HTML & CSS</li>
    </ul>
    <p>Project realized in NuxtJS during my second internship in the Agence Webcom.</p>
    <a class="project-link" href="https://github.com/gueguesix/widget_amp" target="_blank">code available here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/orient.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hôtel New Orient </h3>
    <ul>
      <li>JQuery</li>
      <li>PHP & Twig</li>
      <li>HTML & CSS</li>
    </ul>
    <p>Website developped and integrated in collaboration with the Agence Webcom developpment team during my second internship.</p>
    <a class="project-link" href="https://www.hotelneworient.com/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Uncipher </h3>
    <ul>
      <li>Python</li>
    </ul>
    <p>Python script taking in input one string hashed with the Caesar algorythm and one dictionnary, and then output the most probable original phrase based on the number of matching words in the dictionnary.</p>
    <a class="project-link" href="https://github.com/gueguesix/uncipher" target="_blank">code available here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Poject HashId </h3>
    <ul>
      <li>Python</li>
    </ul>
    <p>Simple script that take in input one hash and then display on screen which hash algorythm could have been used. Work with 12 hash algorythms.</p>
    <a class="project-link" href="https://github.com/gueguesix/hashid" target="_blank">code available here</a>
  </div>
</div>
